# Scikit Learn
## What is Scikit Learn?
- Simple and efficient tools for data mining and data analysis
- Bulid on NumPy, SciPy, and Matplotlib
- Open source, commercially useable BSD license
## The main two things that we can achieve using Scikit Learn are-
- Classification - Identifying which category and object belongs to. Ex- Spam Detection
- Regression - Predicting an attribute associated with an object. Ex - Stock Prices Prediction
- Clustering - Automatic grouping of similar objects into set. Ex- Customer segmentation
- Model Selection- Comparing validating and choosing parameters and models. ex-improving model accuracy via parameter tuning
- Dimensionality Reduction - Reducing the number of random variables to consider. Ex- To increase model efficiency
- Pre-Processing - Feature extraction and normalization. Ex - Transforming input data such as text for use with ML algorithms

In [1]:
#Importing required packages.
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC 
from sklearn import svm 
from sklearn.neural_network import MLPClassifier 
from sklearn.metrics import confusion_matrix, classification_report 
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split 
%matplotlib inline

In [2]:
wine = pd.read_csv('winequality-red.csv',sep=',')

In [3]:
wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [4]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1596 entries, 0 to 1595
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1596 non-null   float64
 1   volatile acidity      1596 non-null   float64
 2   citric acid           1596 non-null   float64
 3   residual sugar        1596 non-null   float64
 4   chlorides             1596 non-null   float64
 5   free sulfur dioxide   1596 non-null   float64
 6   total sulfur dioxide  1596 non-null   float64
 7   density               1596 non-null   float64
 8   pH                    1596 non-null   float64
 9   sulphates             1596 non-null   float64
 10  alcohol               1596 non-null   float64
 11  quality               1596 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 149.8 KB

In [5]:
wine.isnull().sum() #how many null value is there in each column

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

### Preprocessing

In [6]:
bin =(2,6.5,8)
group_name =['bad','good']
wine['quality']=pd.cut(wine['quality'],bins=bin,labels=group_name)
wine['quality'].unique()

['bad', 'good']
Categories (2, object): ['bad' < 'good']

In [7]:
label_quality=LabelEncoder()
wine['quality'] = label_quality.fit_transform(wine['quality'])

In [8]:
wine.head(10) # 0 means bad and 1 means good

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,0
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,0
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,0
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,1
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,1
9,7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,0

In [9]:
wine['quality'].value_counts()

quality
0    1379
1     217
Name: count, dtype: int64

In [30]:
sns.countplot(wine['quality'])
#wine['quality'] = wine['quality'].astype(str)  # Convert to categorical (string)
#sns.countplot(x='quality', data=wine)
#plt.show()

In [11]:
#Now separate the dataset as response variable and feature variables
X= wine.drop('quality',axis=1)
y=wine['quality']

### Train and Test splitting of Data

In [12]:
X_train,X_test,y_train, y_test= train_test_split(X,y,test_size =0.2, random_state =42)

In [13]:
#applying standard scaling to get optimised result (for all the columns)
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test=sc.transform(X_test)

### Random Forest Classifier

In [14]:
rfc = RandomForestClassifier(n_estimators = 200)
rfc.fit(X_train,y_train)
pred_rfc= rfc.predict(X_test)

In [15]:
# lets see how our model Performed
print(classification_report(y_test,pred_rfc))
print(confusion_matrix(y_test,pred_rfc))

              precision    recall  f1-score   support

           0       0.92      0.98      0.95       277
           1       0.79      0.44      0.57        43

    accuracy                           0.91       320
   macro avg       0.86      0.71      0.76       320
weighted avg       0.90      0.91      0.90       320

[[272   5]
 [ 24  19]]

### SVM classifier

In [16]:
clf=svm.SVC()
clf.fit(X_train,y_train)
pred_clf = clf.predict(X_test)

In [17]:
#Lets see how our model performed
print(classification_report(y_test,pred_clf))
print(confusion_matrix(y_test,pred_clf))

              precision    recall  f1-score   support

           0       0.89      0.98      0.94       277
           1       0.69      0.26      0.37        43

    accuracy                           0.88       320
   macro avg       0.79      0.62      0.65       320
weighted avg       0.87      0.88      0.86       320

[[272   5]
 [ 32  11]]

### Neural Network

In [ ]:
#mlpc = MLPClassifier(hidden_layer_sizes=(11,11,11),max_iter=100,learning_rate_init=0.001)
#mlpc.fit(X_train,y_train)
#pred_mlpc = mlpc.predict(X_test)